.review-tb .review-potn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 1400px;
    margin-top: 10px;
}


.review-tb h1 {
    text-align: center;
    font-size: xxx-large;
    padding-top: 80px;
}

table {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-collapse: collapse;
    margin: 0 auto;
}

table tr {
}

.review-tr {

    background-color: rgb(121, 89, 89);
    height: 30px;
}

.review-tr td {
    border: none;
    color: white;
}

.review-td1 {
    width: 100px;
}

.review-td2 {
    width: 1000px;
}

.review-td3 {
    width: 150px;
}

.review-td4 {
    width: 150px;
}

.review-tr1 td {
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: center;
}

.review-tr2 td {
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: center;
}

.review-tr3 td {
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: center;
}

.box {
    width: 1400px;
    margin: 0 auto;
    top: 30%;
    height: 50px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px lightgrey;
}

.box a {
    margin-inline-start: 50px;
    color: rgb(107, 71, 53);
    font-size: xx-large;
}

.box a:hover {
    color: rgb(107, 71, 53);
    font-weight: bolder;
}

.box select {
    margin-inline-start: 50px;
    color: rgb(107, 71, 53);
    ;
}

.box span {
    width: 1400px;
    height: 50px;
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
    box-shadow: 5px 5px 5px lightgrey;
}

.rev-page hr {
    border: 1px solid rgb(107, 71, 53);
    align: center;
    width: 930px;
}

.rev-page h2 {
    color: rgb(107, 71, 53);
    padding-left: 20em;
}

.rev-page pre {
    color: rgb(107, 71, 53);
    padding-left: 30em;
}

.rev-page a {
    color: rgb(107, 71, 53);
    font-weight: bold;
    font-size: 20px;
    margin-right: 62em;
    
}

.button2 {
    align: center;
    border: none;
    background-color: white;
    color: rgb(107, 71, 53);
    padding-left: 36em;
    font-weight: bold;
}

.button1 {
    float: right;
    margin-right: 20em;
    margin-top: 20px;
}

h1 {
    color: rgb(71, 42, 28);
}

.review-potn a {
    color: rgb(71, 42, 28);
}

.rev-page {
    margin-top: 5em;
}

.rev-page h1 {
    margin-bottom: 80px;
}



/* ----------------------------------------------------------------- */
/* revCreate.html 부분 */
.rev-create {
    /* background-color: green; */
    width: 1800px;
    margin: 0 auto;
}

.rev-wirte {
    width: 1700px;
    margin: 0 auto;
    /* background-color: yellow; */
}

.rev-wirte1 {
    width: 1600px;
    margin: 0 auto;
    /* background-color: rgb(199, 199, 114); */
}

.rev-table {
    width: 1200px;
    margin: 0 auto;
    /* background-color: red; */
}

.rev-thead {
    width: 1500px;
    margin: 0 auto;
    /* background-color: rgb(230, 126, 126); */
    text-align: center;
}

.revTitle-box {
    width: 1200px;
    height: 30px;
}

.revContents-box {
    width: 1200px;
    height: 500px;
   
}

.rev-tbody {
    width: 1500px;

    /* background-color: rgb(224, 85, 177); */

}

.rev-tfoot {
    width: 1500px;
    /* background-color: rgb(85, 99, 224); */

}

.image-area {
    width: 100px;
    height: 100px;
}


/* ------------------------------------------------------------------ */
/* 리뷰 업데이트 부분 */
.rev-Update {
    width: 1800px;
    margin: 0 auto;
}

.rev-button1{
    width: 1200px;
    margin: 0 auto;
}

/* ------------------------------------------------------------------ */
/* 리뷰 뷰 부분 */
.rev-page{
    width: 1600px;
    margin: 0 auto;
}

.rev-page h1{
    font-size: xxx-large;
    margint-top: 50px
}

.button4{
    width: 1400px;
}

.reply-text{
    resize:none;
    width: 1300px;
    height: 40px;
    float: left;
}

.revContents-box1{
    width: 1400px;
    height: 500px;
    font-size: 20px;
    font-weight: bold;
    color:  #4d3829;;
    margin-top: 150px;
     border:none;
}

.revButton1{
  background-color: #4d3829;
  border: 1px solid #4d3829;
  padding: 4px 30px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}
.revButton2{ 
  background-color: white;
  border: 1px solid #4d3829;
  padding: 4px 30px;
  border-radius: 4px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}

.photo-area{
	padding: 86px 0;
    padding-top: 80px;
    margin-top: 50px;
}

#rev-searchForm {
	margin-top: 30px;
    margin-left: 1100px;
}

.button-box{
	margin-top: 30px;
	margin-left: 82em;
	box-align: center;
	display: flex;
	
}


.rev-ditail{
	background-color: rgb(244, 235, 230);
	width: 88em;
	color: rgb(107, 71, 53);
	font-weight: bold;
	border-radius: 10px;
}

.rev-tr1{
	 border-top: 1px solid rgb(132, 87, 50);
     border-bottom: 1px solid rgb(231, 231, 231);
     background-color: rgb(248, 243, 240);
     height: 100px;
     font-weight: bold;
}

.rev-tr1 .rev-th1{
	 color: rgb(107, 71, 53);
	 font-size: 25px;
	 font-weight: bold;
}

.rev-photo{
	margin-top: 100px;
}


