@charset "UTF-8";
/* 슬라이드배너 css*/
.banner-container{
    width:1600px;
    height:500px;
    overflow:hidden;
  }
  .banner{
    width:calc(1600px*4);
    height:100%;
    display:flex;
    animation: animation1 10s infinite;
    /*기본 전환 animation을 위한 설정*/
    -webkit-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
    -moz-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
    -ms-transition: all 0.5s cubic-bezier(1, .01, .32, 1);
    transition: all 0.5s cubic-bezier(1, .01, .32, 1);
  }
  .banner>div{
    width:1600px;
    height:100%;
  }
  .banner>div:nth-child(1){
  background-image:url('/images/상품게시판1.jpg');
}
.banner>div:nth-child(2){
  background-image:url('/images/상품게시판.jpg');
}
.banner>div:nth-child(3){
  background-image:url('/images/이벤트게시판.jpg');
}
.banner>div:nth-child(4){
  background-image:url('/images/매장찾기.jpg');
}
  .list-button{
    width:1600px;
    height:10px;
    display:flex;
    justify-content:center;
    margin-top:-30px;
    position:absolute;
    z-index:2;
  }
  .list-button-item{
    width:10px;
    height:10px;
    border-radius:5rem;
    background-color:black;
    cursor: pointer;
    display: inline-block;
    margin:6px;
  }
  .list-button-item.active{
    background-color:white;
  }
  @keyframes animation1 {
    0% {margin-left: 0}
    20% {margin-left: 0}
    25% {margin-left: -100%}
    45% {margin-left: -100%}
    50% {margin-left: -200%}
    70% {margin-left: -200%}
    75% {margin-left: -300%}
    95% {margin-left: -300%}
    100% {margin-left: 0}
  }
  @keyframes animation2 {
    0% {margin-left: -100%}
    20% {margin-left: -100%}
    25% {margin-left: -200%}
    45% {margin-left: -200%}
    50% {margin-left: -300%}
    70% {margin-left: -300%}
    75% {margin-left: 0}
    95% {margin-left: 0}
    100% {margin-left: -100%}
  }
  @keyframes animation3 {
    0% {margin-left: -200%}
    20% {margin-left: -200%}
    25% {margin-left: -300%}
    45% {margin-left: -300%}
    50% {margin-left: 0}
    70% {margin-left: 0}
    75% {margin-left: -100%}
    95% {margin-left: -100%}
    100% {margin-left: -200%}
  }
  @keyframes animation4 {
    0% {margin-left: -300%}
    20% {margin-left: -300%}
    25% {margin-left: 0}
    45% {margin-left: 0}
    50% {margin-left: -100%}
    70% {margin-left: -100%}
    75% {margin-left: -200%}
    95% {margin-left: -200%}
    100% {margin-left: -300%}
  }