<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" th:href="@{/css/review.css}">
<link rel="shortcut icon" type="image/x-icon" href="/images/파비콘2.png"/>
	<title>하이스 커피</title>
</head>
<body>
	<div th:replace="main/header.html"></div>

		 <div class="review-tb">
	                     
	            <h1>BEST REVIEW</h1>
	            
	            <div class="box" align="center">
	            <span>
	            <a>필터</a>
	            <a href="/board/review/review.html">전체목록</a>
	            <a href="/board/review/rev_photo.html">포토리뷰</a>
	            <a href="/board/review/rev_best.html">베스트리뷰</a>
	            <select>
	                <option>상품명</option>
	            </select>
	            </span>
	            </div>
	
	            <br>
	            <br>
	            <div class="review-potn">
	                <table border=1>
	                    
	                    <tr class="review-tr">
	                        <td class="review-td1">NO</td>
	                        <td class="review-t-d2">제목</td>
	                        <td class="review-td3">작성자</td>
	                        <td class="review-td4">등록일</td>   
	                    </tr>
	                    
	                    <tr class="review-tr1">
	                        <td>1</td>
	                        <td><a href="/board/review/rev_view.html">안녕하세요.</a></td>
	                        <td>HICE</td>
	                        <td>2022-10-01</td>
	                    </tr>
	                    <tr class="review-tr2">
	                        <td>2</td>
	                        <td><a>안녕하세요2.</a></td>
	                        <td>HICE</td>
	                        <td>2022-09-27</td>
	                    </tr>
	                    <tr class="review-tr3">
	                        <td>3</td>
	                        <td><a>안녕하세요3.</a></td>
	                        <td>HICE</td>
	                        <td>2022-08-16</td>
	                    </tr>
	                    
	                </table>
	            </div>
	            <button class="button1"><a  href="/board/review/rev_create.html">글쓰기</a></button>       
	        </div>
	        <br>
	        <br>
	        <br>
	        <br>
	        <br>
	        <br>
	        <br>
	        <br>
	        <br>
	        <br>
     <div th:replace="main/footer.html"></div>
</body>
</html>