<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" th:href="@{/css/review.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<link rel="shortcut icon" type="image/x-icon" href="/images/파비콘2.png"/>
	<title>하이스 커피</title>
<script type="text/javascript" th:src="@{/js/review.js}"></script>
</head>
<body>
	<div th:replace="main/header.html"></div>
		<div class="review-tb">
	        <h1>PHOTO REVIEW</h1>
	            <div class="box" align="center">
	                <a>필터</a>
		            <a href="/review/list">전체보기</a>
		            <a href="/board/review/rev_best.html">베스트리뷰</a>	          
	            </div>
	          
	            <form id="rev-searchForm" th:action="@{/photo/list}" method="get" >
	           		<th:block th:if="${ revSearchValue != null }">
	           			<input type="search" id="revSearchValue" name="revSearchValue"
	           				th:value="${ revSearchValue }">
	           		</th:block>
	           		<th:block th:if="${ revSearchValue == null }">
	           			<input type="search" id="revSearchValue" name="revSearchValue">
	           		</th:block>
	           		<button class="rev-button" type="submit">검색</button>	
           		</form>	
	           
	           <a>포토리뷰우우</a>
	            <div class="Photo-area" id="PhotoArea"
	            	style="width: 1080px; margin: auto; display: flex; justify-content: center; flex-wrap: wrap;">
	            	<th:block th:each="Photo : ${ PhotoList }">
	            		<div class="Photo-list" align="center" style="margin: 20px; cursor:pointer;"
	            			 th:onclik="|location.href='/Photo/view?revCode=${revBoard.revCode}'|">
	            			
	            				<div>
		            				<th:block th:each=" file : ${ revBoard.fileList}" >
		            					
		            					<img th:if="${ revBoard.fileType == 'TITLE' }"
		            						 th:src="${ revBoard.fileThumPath }" width="200px" height="200px">
		            						 
		            				</th:block>
	            				</div>
	            				<p>
	            					No. <label th:text="${ revBoard.revCode }"></label>
	            					<span th:text="${ revBoard.revTitle }"></span><br>
	            					좋아요 : 
	            				</p>
	            			</div>	
	            		</th:block>	 		 
	         		</div>
		<div id="paging" align="center">
			
			<button
				th:onclick="'location.href=\'/Photo/list?page=' + @{${paging.startPage}} + '\''">&lt;&lt;</button>

			
			<button
				th:onclick="'location.href=\'/Photo/list?page=' + @{${paging.currentPage - 1}} + '\''"
				th:disabled="${ PhotoList.first }">&lt;</button>

			
			<th:block
				th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
				<button
					th:onclick="'location.href=\'/Photo/list?page=' + @{${page}} + '\''"
					th:text="${ page }" th:disabled="${ paging.currentPage eq page }">
				</button>
			</th:block>

			
			<button
				th:onclick="'location.href=\'/Photo/list?page=' + @{${paging.currentPage + 1}} + '\''"
				th:disabled="${ PhotoList.last }">></button>

			
			<button
				th:onclick="'location.href=\'/Photo/list?page=' + @{${paging.endPage}} + '\''">>></button>
			</th:block>
		</div>
		
		<div class="search-area" align="center" style="margin-top: 20px;">
		
			<!-- <th:block sec:authorize="isAuthenticated()"> -->
				<button id="writePhoto">글쓰기</button>
			</th:block>
		</div>
		
	</div>
	         	 	
	 <div th:replace="main/footer.html"></div>           
</body>
</html>