<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/review.css}">
</head>
<body>
	<div th:replace="main/header.html"></div>
		 <div class="rev-page">         
	            <h1 align="center">REVIEW</h1>
	            <button class="button2">< 목록으로 </a></button>  
	            
	            
	            <h2> 제목이 들어갑니다</h2>
	            <a> 좋아요 버튼</a>
	            
	            <hr> 
	            <pre> 
	             내용이 들어갑니다
	                
	
	
	
	
	
	
	
	
	
	
	
	            <div class="button4">   
	            <button>수정</button><button>삭제</button>
	            </div>
	            </pre>
	            <hr> 
	            <pre>
	             관리자 | 2022-09-28
	             댓글이 들어갑니다.
	
	
	
	
	
	
	
	
	
	
	
	            </pre>
	            </div>
	            <div class="button3" align="center">
	                <button>댓글등록</button>
	                <button>댓글수정</button>
	                <button>댓글삭제</button>
	            </div>
	 <div th:replace="main/footer.html"></div>           
</body>
</html>