<!-- 글 조회(클릭)시 사용자에게 보여지는 화면  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https//www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">	  
    <link rel="stylesheet" th:href="@{/css/qnaDetail.css}">
      
    <script>
        // 권한부여, AJAX 통신 후 코드 수정해야함
        const message = '[[${message}]]';
		message && alert(message);
    </script>
    
    <title>Hice Coffee</title>
</head>

<body>

    <div th:replace="main/header.html"></div>
	<div th:replace="main/article.html"></div>
	<div th:replace="main/nav.html"></div>

    <!-- 개발진행 -->
	<!--  클래스명은 임의로 줄 것 -->
        <div class="qnaDetail" >   <!-- 위드 1600  margin 0 auto-->         
        	<h1 align="center" >문의 사항 확인</h1>
        		<div class="qnaDetailBox" >  <!-- 위드 1400  margin 0 auto-->
			        	<div class="qnaDetailList" >
			        	
			        	
			        	<div id="qna-btn-box1"  >
			        	<label>제목</label>		        
						<p  th:text="${qna.qnaTitle }"/>		
						</div>
						<div id="qna-btn-box2"  >
						<label>내용</label>
							<p th:text="${qna.qnaContent }"/>		
						</div>
				        
				
				        <div class="qna-btn-box-bottom">
				        
				        	<button type="submit" class="qnaRemove">삭제</button>
				        	<button th:onclick="|location.href='/qna/qnaModify/${qna.qnaCode}'|">수정</button>
						
				        </div> 
				            
				        
			          	</div>          
			        
		       
					
					
					<br><br><br><br><br><br>
					
					<!-- <th:block sec:authorize="hasRole('ROLE_ADMIN')"> -->
					
					<!-- <form id="replyRegistForm" th:action="@{/reply/replyRegist}" method="post">
			        	<div class="qnaDetailList" >
			        	
						<div id="qna-btn-box2"  >
							<label>내용</label>
							<p th:text="${qna.qnaContent }"/>		
						</div>
				        
				        <div id="qna-btn-box" style="background-color: green;">
				            <button type="button" style="background-color: red;" id="qna-btn1" onclick="window.location.href='./qnaList'">목록으로</button>
				            <button type="button" style="background-color: yellow;" id="qna-btn1" onclick="window.location.href='./qnaList'">수정</button>
				            <button type="button" style="background-color: blue;" id="qna-btn1" onclick="window.location.href='./qnaList'">삭제</button>
				        </div>
				
						<div id="qna-btn-box" style="background-color: green;">
				            <button type="button" style="background-color: red;" onclick="window.location.href='./qnaList'">목록으로</button>
				            <button type="button" style="background-color: yellow;" onclick="window.location.href='./qnaModify'">수정</button>
				            <button type="submit" style="background-color: blue;" onclick="window.location.href='./qnaDelete'">삭제</button>
				        </div>
				        <div class="qna-btn-box-bottom">
				        
				        	<button type="submit" class="replyRegist">답변글 등록</button>
				        	<button type="submit" class="replyRemove">답변글 삭제</button>
				        	<button type="button" name="qnaModify" th:onclick="|location.href='/qna/qnaModify?qnaCode=${qna.qnaCode}'|">답변글 수정</button>
						
				        </div> 
				            
				        
			          	</div>          
			        
		       
					</form> -->
					
					
			</div>
		</div>
    <br><br><br><br> 

    <div th:replace="main/footer.html"></div>

</body>
</html>