<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https//www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">	  
    <link rel="stylesheet" th:href="@{/css/qna.css}">	  

        
    <script>
        // 권한부여, AJAX 통신 후 코드 수정해야함
        const message = '[[${message}]]';
		message && alert(message);
    </script>
    
    <title>Hice Coffee</title>
</head>

<body>
 
	<div th:replace="main/header.html"></div>
	<div th:replace="main/article.html"></div>
	<div th:replace="main/nav.html"></div>
	
    <!-- 개발진행 -->
            <div id="qna-main">
            <div id="qna-section">
                <h1 align="center">QnA 게시판</h1>
                <!-- 캡션 추가 BY JAYTEE-->       
                
                <th:block sec:authorize="hasRole('ROLE_MEMBER')">
                <div id="qna-btn-box">
                    <div style="cursor:pointer;" id="qna-btn1" onclick="location.href = './qnaRegist'">
                        문의글 등록
                    </div>
                </div>


                <div id="qna-potn">
                    <table border="1">

                        <tr class="qna-tr">
                            <td class="qna-td1">NO</td>
                            <td class="qna-td2">제목</td>
                            <td class="qna-td3">작성자</td>
                            <td class="qna-td4">등록일</td>
                        </tr>
                        
                        <th:block sec:authorize.principal.memId == qna.writer.memId>
                        
                        <tr th:each="qna : ${ qnaList }"
                        	th:onclick="|location.href='/qna/qnaDetail/${qna.qnaCode}'|"
                        	style="cursor:pointer;">
                            <td th:text="${ qna.qnaCode }"></td> 
                            <td th:text="${ qna.qnaTitle }"></td>
                            <td th:text="${ qna.writer.memId }"></td>
                            <td th:text="${ qna.qnaDate }"></td> 
                        </tr>
                        
                        </th:block>

                       
                    </table>
                </div>
            </div>
        </div>

    <div th:replace="main/footer.html"></div>
</body>
<footer>
    
</footer>

</html>