<!-- 글 조회(클릭)시 관리자에게 보여지는 화면  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https//www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}">	  
    <link rel="stylesheet" th:href="@{/css/qnaRegist.css}">        
    <title>Hice Coffee</title>
</head>

<body>

    <div th:replace="main/header.html"></div>
	<div th:replace="main/article.html"></div>
	<div th:replace="main/nav.html"></div>

    <!-- 개발진행 -->
    <div id="qna-main">
            <div id="qna-section">
                <h1 align="center">문의 사항 수정 </h1>
                <form id="qnaRegistForm" th:action="@{/qna/modify}" method="post">
					<input type="hidden"  name="qnaCode" th:value="${ qna.qnaCode } ">
                    <table class="qnaDetail" align="center">
                    	<tr>
                    		<td>제목</td>
                    		<td><input type="text" name="qnaTitle" th:value="${ qna.qnaTitle }" >
                    		</td>
                    	</tr>
                    	<tr>
                    		<td>내용</td>
                    		<td><input type="text" name="qnaContent" th:value="${ qna.qnaContent }">
                    		</td>
                    </table>
                             
                        <input type="submit" value="완료">
ㄴ             
                </form>
                
            </div>
	</div>
    <div th:replace="main/footer.html"></div>

</body>
</html>