<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/index.css}">
<link rel="stylesheet" th:href="@{/css/userPage.css}">
<link rel="shortcut icon" type="image/x-icon" href="/images/파비콘2.png" />
<title>하이스 커피</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/event.js}"></script>
<script>
	    const message = '[[${message}]]';
	    message && alert(message);
	    
	    function checkAll(){
	    	if($("#allBox").is(':checked')) {
	    		$("input[name=cartBox]").prop("checked", true);
	    	} else {
	    		$("input[name=cartBox]").prop("checked", false);
	    	}
	    }	
	    
	    var cartForm = document.getElementById('cartSubmitForm')
	    
	    function allDelete() {
	    	var query = 'input[name=cartBox]:checked';
	    	var selectedEls = 
	    	      document.querySelectorAll(query);
	    	
	    	var deleteList = []
	    	var deleteListSt = '';
	    	
	    	 // 선택된 목록에서 value 찾기
	    	 	var cf = window.confirm('해당 장바구니를 삭제하시겠습니까?');
	    
	    	selectedEls.forEach((el) => {
 		    	deleteList.push(el.value)
	    	  });
	    	
	    	deleteListSt = deleteList.toString()
	    	//deleteListSt = deleteListSt.replace(",", "_")
	    	
	    	console.log(deleteListSt)
	    	 
	    	 if(cf){
	    		  location.href='/cart/delete?cartCodeList=' + deleteListSt
	    	 }
	    }
	    
	    function singleDelete(e){
	  		var cf = window.confirm('해당 장바구니를 삭제하시겠습니까?');
	  		
	  		if(cf){
	  		location.href='/cart/delete?cartCode='+e
	  		}
	  		
	    }
	    
	    function orderReq (query) {
	    	var selectedEls = 
	    	      document.querySelectorAll(query);
	    	
	    	var orderList = []
	    	var orderListSt = '';
	    	
	    	selectedEls.forEach((el) => {
	    		orderList.push(el.value)
	    	  });
	    	
	    	orderListSt = orderList.toString()
	    	 
	    	var cf = window.confirm('해당 장바구니 상품을 주문하시겠습니까?');
	    	
	    	 if(cf){
	    		  location.href='/cart/order?cartCodeList=' + orderListSt
	    	 }
	    }
	    
	    
	    function checkOrder() {
	    	var query = 'input[name=cartBox]:checked';
	    	orderReq(query)
	    	
	    }
	    
	    
	    
	    
	    function allOrder() {
	    	var query = 'input[name=cartBox]';
	    	orderReq(query)
	    }
	    
	 
 		function singleOrder(e){
			var cf = window.confirm('해당 장바구니 상품을 주문하시겠습니까?');
	  		
	  		if(cf){
	  		location.href='/cart/order?cartCode='+e
	  		}
	    }
	    
	  //  $("input:checkbox").prop("checked", true);   // 체크박스 체크 
       //$("input:checkbox").prop("checked", false);   // 체크박스 해제 
	</script>
     <!-- jQuery --> 
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script> 
	<!-- iamport.payment.js --> 
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<body>
	<div th:replace="main/header.html"></div>
	<div th:replace="main/article.html"></div>
	<div th:replace="main/nav.html"></div>
	<!-- ============ 기능 =================  ============ 기능 =================  ============ 기능 =================-->
	<section class="mySection">
		<h5>My basket</h5>
		<table id="myTeble">
			<tr id="myTr1" class="myTr1" >
				<th width="150px"><input type="checkbox" id="allBox"
					onclick="checkAll()"></th>
				<th width="500px">상품정보</th>
				<th width="100px">수량</th>
				<th width="150px">상품금액</th>
				<th width="150px">합계</th>
				<th width="150px">배송비</th>
				<th width="200px">선택</th>
			</tr>
			<form id="cartSubmitForm">
				<tr class="myTr2" th:each="cart : ${ cartList }">
					<td align="center"><input type="checkbox" name="cartBox"
						th:value="${cart.cartProCode}"></td>
					<td th:text="${cart.product.proName}"></td>
					<td th:text="${cart.count}" align="center"></td>
					<td th:text="${cart.product.proPrice}" align="center"></td>
					<td th:text="${cart.count * cart.product.proPrice}" align="center"></td>
					<input type="hidden" name="cartProCode"
						th:value="${cart.cartProCode}">
					<td align="center">무료배송</td>
					<td align="center">
						<button type="button" class="my_border_Btn"
							th:code="${cart.cartProCode}"
							th:onclick="singleDelete(this.getAttribute('code'))">X
							삭제</button>
						<button type="button" class="my_color_Btn"
							th:code="${cart.cartProCode}"
							th:onclick="singleOrder(this.getAttribute('code'))">주문
							하기</button>
					</td>
				</tr>
			</form>
		</table>


		<!-- <div th:if="${cartListSize == 0}">
			<p class="myMessage">장바구니가 비었습니다.</p>
		</div> -->

		<div class="mybasket_total">
			<h5>[기본배송]</h5>
			<h5>
				상품구매금액 <span th:text="${cartSum}"></span> + 배송비 0 (무료) = 합계 : <span
					style="font-size: larger;" id="totalSum" th:text="${cartSum}"></span>
			</h5>
		</div>
		<div>
			<button onclick="allDelete()" id="allDelete" class="my_border_btn"
				align="right">선택 상품 삭제</button>
			<button class="my_color_btn" id="iamportPayment" 
				style="float: right;">전체 상품 주문</button>
			<br>
			<button class="my_border_btn"  
				style="float: right;">선택 상품 주문</button>
		</div>
		<br> <br> <br> <br> <br> <br> <br>
		<br> <br> <br> <br> <br> <br>

	</section>





	<!-- ============ 기능 =================  ============ 기능 =================  ============ 기능 =================-->

	<!-- <div th:replace="main/section.html"></div> -->
	<div th:replace="main/footer.html"></div>






</body>
</html>