<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta  charset="UTF-8">
     <link rel="stylesheet" th:href="@{/css/index.css}">	
     <link rel="stylesheet" th:href="@{/css/userPage.css}">
     <link rel="shortcut icon" type="image/x-icon" href="/images/파비콘2.png"/>
	<title>하이스 커피</title>	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/event.js}"></script>
	<script>
	    const message = '[[${message}]]';
	    message && alert(message);
	</script> 
</head>
<body>
	<div th:replace="main/header.html"></div>
	<div th:replace="main/article.html"></div>
	<div th:replace="main/nav.html"></div>
<!-- ============ 기능 =================  ============ 기능 =================  ============ 기능 =================-->



        <section class="mySection" >
            <ul class="orExplain">
                <li> * 주문번호를 클릭하시면 해당 주문에 대한 상세내역을 확인하실 수 있습니다.</li>
                <li> * 취소/교환/반품 신청은 배송완료일 기준 7일까지 가능합니다.</li>
            </ul>
            <h5 >My orders</h5>
            <table id="myTeble">                
                <tr id="myTr1">
                    <th width="150px">주문일자</th>
                    <th width="150px" >주문번호</th>
                    <th width="400px">상품정보</th>
                    <th width="100px">수량</th>
                    <th width="150px">상품구매금액</th>
                    <th width="150px">주문상태</th>
                    <th width="300px">취소/교환/반품</th>
                </tr>
                    <tr id="myTr2">
                        <td align="center">2022-10-02</td>
                        <td align="center">02020</td>
                        <td >원두원두</td>
                        <td align="center">1</td>
                        <td align="center">10,000</td>
                        <td align="center">10210010 (우체국)</td>
                        <td align="center"><input type="submit" class="myButton" value="주문취소" id="orCancel" onclick="return confirm('정말 취소하시겠습니까?')">
                            <button class="myButton" id="orTakeback">교환 / 반품신청하기</button></td>
                    </tr>
            </table>
            <p class="myMessage">주문내역이 없습니다.</p>

                <!-- ================ 모달창===================== -->

              
                

                <div class="container"> 
                    <div class="popup-wrap" id="popup"> 
                      <div class="popup">	
                        <div class="popup-head">	
                            <span id="head-title1">교환 반품 안내</span>
                            <span id="head-title2"> HiceCoffee</span>
                        </div>
                        <div class="popup-body">	
                          <div class="body-content">
                            <div class="body-contentbox">
                                <h4>방법안내</h4>
                                <pre> 1. 수령 후 제품을 확인한다  
 2. 교환&반품 신청서 필수체크항목에 체크 후 내용을 메모하여 동봉한다.
 3. 반품 제품을 확인하고, 처음과 같은 포장상태로 훼손 없이 포장한다.
 4. 우체국 택배 방문 및 전화<b>(1234-1234)</b>를 이용하여 접수한다(착불접수)

</pre>
                              
                              <h4>교환/반품 불가 안내</h4>
                              <pre> ＊ 상품 수령 후 영업일 기준 7일이 경과한 경우 
 ＊ 사용하셨거나 포장을 제거한 제품 
 ＊ 공정거래 표준약관 제 15조 2항에 의한 이용자의 사용 또는 일부 소비에 
    의하여 재화 등의 가치가 현저히 감소한 경우

</pre>
                                
                                <h4>환불안내</h4>
                                <pre> ＊ 환불시 반품 확인여부를 확인한 후 3영업일 이내에 결제 금액을 환불해 
    드립니다. 
 ＊ 신용카드로 결제하신 경우 신용카드 승인을 취소하여 결제 대금이 청구되지 
    않게 합니다. 
                                </div>
                            <div class="body-titlebox">
                                <b>위 내용에 동의하시는 경우 신청하기를 눌러주세요.
                            </div>
        
                            <div class="refundButton"> 
                            <input type="submit" class="my_color_Btn" id="moButton1" value="신청하기" onclick="alert('신청이 완료 되었습니다.')"></input>
                            <button class="my_border_Btn" id="moButton2">취소</button>
                        </div>  
                          </div>
                        </div>
                      </div>
                     </div>
                  </div>

               
        </section>
        <script>
                    
                    
            $("#orTakeback").click(function(){
                $("#popup").attr("style", "display:flex");
            });
           
             $("#moButton2").click(function(){
                $("#popup").attr("style", "display:none");
            });     
            
            $("#moButton1").click(function(){
                $("#popup").attr("style", "display:none");
            });   
        </script>


	
	
<!-- ============ 기능 =================  ============ 기능 =================  ============ 기능 =================-->
	
	<!-- <div th:replace="main/section.html"></div> -->
    <div th:replace="main/footer.html"></div>

            




</body>
</html>