<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https//www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/index.css}">	 
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    
    <link rel="shortcut icon" type="image/x-icon" href="/images/파비콘2.png"/>
	<title>하이스 커피</title>	  

    <script>
        const message = '[[${message}]]';
		message && alert(message);
    </script>
    
</head>

<body>
 
	<div th:replace="main/header.html"></div>
	<div th:replace="main/article.html"></div>
	<div th:replace="main/nav.html"></div>
		
	
			<h1 align="center">이벤트 신청 목록</h1>
				<ul class="orExplain">
				</ul>
					<table id="myTable"> 
						<tr id="myTr1">
							<th width="300px">신청 번호</th>
							<th width="300px">회원 아이디</th>
							<th width="300px">신청 날짜</th>
						</tr>
						<tr id="myTr2" th:each=" event : ${ eventList }">
							<td align="center" th:text="${ event.eveCode }"></td>
							<td align="center" th:text="${ event.memId }"></td>
							<td align="center" th:text="${ event.eveDate }"></td>
						</tr>	
					</table>
			
<!--    	    <div id="paging" align="center" style="margin-top:20px;">
            	
            	<th:block th:if="${ param.searchValue == null || param.searchValue.isEmpty()}">
        		
        		<button
        			th:onclick="'location.href=\'/admin/list?page=' + @{${paging.startPage}} +'\''">&lt;&lt;</button>
        			
        		
        		<button
        			th:onclick="'location.href=\'/admin/list?page=' +@{${paging.currentPage - 1}} +  '\''"
        			th:disabled = "${ eventList.first }" >&lt;</button>    
        		
        		<th:block
        			th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage )}">
        			<button
        				th:onclick="'location.href=\'/admin/list?page=' + @{${page}} +  '\''"
        				th:text="${ page }" th:disabled="${ paging.currentPage eq page }">
        			</button>					
        		</th:block>		
        		
        		<button
        			th:onclick="'location.href=\'/admin/list?page=' + @{${paging.currentPage + 1}} + '\''"
        			th:disabled="${ eventList.last}"> > </button>
        		
        		<button
        			th:onclick="'location.href=\'/admin/list?page=' + @{${paging.endPage}} + '\''"> >> </button>
        	</th:block>	    
        </div>
          -->
                

    <div th:replace="main/footer.html"></div>
</body>
<footer>
    
</footer>

</html>