<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/kj.css}">
<title>Insert title here</title>
</head>
<body>

	 <div class="releaseMain">
                     
       <h1>주문 상품 출고</h1>
        
       <div class="releaseDetail">

            <form class="detailWrrap" name="detailWrrap" methd="post">

                <div class="detailInfo">

                    <p>상품 명 : 과테말라 안티구아</p>
                    <p>수량 : 3</p>
                    <p>회원ID : breeez1</p>
                    <p>주문자 성함 : 홍길동</p>
                    <p>주소 : 서울시 서대문구 홍제2동 00아파트 402동 2201호</p>

                </div>

                <button type="submit" class="release2">출고</button>

            </form>

       </div>
        
    </div>
    <br><br><br><br>
	

</body>
</html>