<!-- 사용자로 로그인 시에 '공지사항등록' 버튼이 보이지 않도록 개발(타임리프) -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https//www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">	  
    <link rel="stylesheet" th:href="@{/css/notice.css}">
    <link rel="shortcut icon" type="image/x-icon" href="/images/파비콘2.png"/>
	<title>하이스 커피</title>	  

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
        
    <script>
        // 권한부여, AJAX 통신 후 코드 수정해야함
        const message = '[[${message}]]';
		message && alert(message);
    </script>
    
</head>

<body>
 
	<div th:replace="main/header.html"></div>
	<div th:replace="main/article.html"></div>
	<div th:replace="main/nav.html"></div>
	
    <!-- 개발진행 -->
            <div id="notice-main">
            <div id="notice-section">
                <h1 align="center">공지 사항 게시판</h1>
                <!-- 캡션 추가 BY JAYTEE-->
               <th:block sec:authorize="hasRole('ADMIN')">
                <div id="notice-btn-box">
                    <div id="notice-btn1" onclick="location.href = './noticeRegist'">
                        공지 사항 등록
                    </div>
                </div>
                </th:block>
                <div id="notice-potn">
                    <table border="1">

                        <tr class="notice-tr">
                            <td class="notice-td1">NO</td>
                            <td class="notice-td2">제목</td>
                            <td class="notice-td3">작성자</td>
                            <td class="notice-td4">등록일</td>
                        </tr>
                        <tr th:each="notice : ${ noticeList }"
                        	th:onclick="|location.href='/notice/noticeDetail?notCode=${notice.notCode}'|"
                        	style="cursor:pointer;">
                            <td th:text="${ notice.notCode }"></td> 
                            <td th:text="${ notice.notTitle }"></td>
                            <td th:text="${ notice.member.memId }"></td>
                            <td th:text="${ notice.notDate }"></td> 
                        </tr>

                    </table>
                </div>
            </div>
        </div>

     
    <div th:replace="main/footer.html"></div>
</body>
<footer>
    
</footer>

</html>