<!-- 관리자로 로그인하여 '공지사항등록' 버튼을 눌렀을 시 나오는 화면 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https//www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">	  
    <link rel="stylesheet" th:href="@{/css/noticeRegist.css}">
    <link rel="shortcut icon" type="image/x-icon" href="/images/파비콘2.png"/>
	<title>하이스 커피</title>

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
        
    <script>
        // 권한부여, AJAX 통신 후 코드 수정해야함
        const message = '[[${message}]]';
		message && alert(message);
    </script>
    
</head>

<body>

    <div th:replace="main/header.html"></div>
	<div th:replace="main/article.html"></div>
	<div th:replace="main/nav.html"></div>

    <!-- 개발진행 -->
       <div id="notice-main">
            <div id="notice-section">
                <h1 align="center">공지 사항 작성</h1>
                <form id="noticeRegistForm" th:action="@{/notice/noticeRegist}" method="post">
                    <div class="title-box">
                        <input class="notice-title" type="text" name="notTitle">
                    </div>
                    <div class="content-box">
                        <textarea class="notice-content" name="notContent"
                            placeholder="내용을 입력해주세요.">
                        </textarea>
                    </div>
                    <div class="notice-btn-box-bottom">
                        <button type="submit" id="btnForChange">등록</button>
                    	<button type="reset" onclick="location.href='/notice/noticeList'">취소</button>
                    </div>
           </div>
                </form>
            </div>
        </div>

 	<div th:replace="main/section.html"></div>
    <div th:replace="main/footer.html"></div>
</body>
<footer>
    
</footer>

</html>