<!-- 글 조회(클릭)시 관리자에게 보여지는 화면  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https//www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">	  
    <link rel="stylesheet" th:href="@{/css/noticeRegist.css}">
    <link rel="shortcut icon" type="image/x-icon" href="/images/파비콘2.png"/>
	<title>하이스 커피</title>

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
        
    <script>
        // 권한부여, AJAX 통신 후 코드 수정해야함
        const message = '[[${message}]]';
		message && alert(message);
    </script>

</head>

<body>

    <div th:replace="main/header.html"></div>
	<div th:replace="main/article.html"></div>
	<div th:replace="main/nav.html"></div>

    <!-- 개발진행 -->
    <div id="notice-main">
            <div id="notice-section">
                <h1 align="center">공지 사항 수정 / 삭제</h1>
                <form id="noticeRegistForm" th:action="@{/notice/noticeModify}" method="post">
                    <input type="hidden" name="notCode" th:value="${ notice.notCode }">
                    <div class="title-box">
                    <div class="textArea1">
                       <label>제목</label> <input class="areaInput1" name="notTitle" type="text" th:value="${ notice.notTitle }">
                      </div>
                      <div class="textArea2">
                       <label class="areaLabel">내용</label> <input class="areaInput2" name="notContent" type="text" th:value="${ notice.notContent }">
                        </div>
                    </div>
                    <div class="notice-btn-box-bottom">
                        <button type="submit" id="btnForChange" >수정</button>
                    </div>
                </form>
             				<form th:action="@{/notice/noticeDelete}" method="post">
				           	 <input type="hidden" name="notCode" th:value="${notice.notCode}"/>
				           	 <button type="submit" class="notDelete">삭제</button>
			           	 </form>
            </div>
        </div>
        
    <script>
    	
    	// 1. 삭제 버튼에 클릭 이벤트를 건다
    	// 2. 클릭 이벤트 내부 코드
    	// 2-1. form element 선택
    	// 2-2. form element action 속성 수정 (/notice/noticeDelete)
    	// 2-3. form 태그 제출 - form.submit();
    	
    </script>
    
	<div th:replace="main/section.html"></div>
    <div th:replace="main/footer.html"></div>

</body>
<footer>
    
</footer>

</html>