<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/review.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<script type="text/javascript" th:src="@{/js/product.js}"></script>
<script type="text/javascript"></script>
</head>
<body>
	<div th:replace="main/header.html"></div>
	
	
		<div class="product-modify" align="center">
			 <h1 align="center"> 상품 수정 </h1>
		           <form id="proModifyForm" th:action="@{/product/modify}" method="post" enctype="multipart/form-data">
		            	<input type="hidden" id="proCode" name="proCode" th:value="${ product.proCode }"/>
		            	
		            	<h2 align="center">상품 디테일</h2>
					    <table class="proDetail" align="center">
					    	<tr>
					    		<td>상품명</td>
					    		<td><input type="text" name="proName" th:value="${ product.proName }"></td>
					   		<tr>
					   		<tr>
					   			<td>상품 종류 : </td>
								<td><select name="proType" th:value="${ product.proType }">
										<option>유리컵</option>
										<option>커피원두</option>
										<option>커피머신</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>가격</td>
								<td><input type="text" name="proPrice" th:value="${ product.proPrice }"></td>
							</tr>
							<tr>
								<td>상품설명</td>
								<td><input type="text" name="proContent" th:value="${ product.proContent }"></td>
							</tr>
							<tr>
								<td>판매상태</td>
								<td th:text="${ product.proStatus }"></td>
							<tr>
							<tr>
								<td>이미지 수정</td>
								<td><input type>
					    </table>
					    <br><br>
					    <div>
					    	<input type="reset" value="취소">
					    	<input type="submit" value="수정완료">						
					    </div>
					    <br><br>
					    <div align="center">
						    <button type="button" th:onclick="'location.href=\'/product/proList\''">목록으로</button>
					    </div>
					  </form>
					  
					  <form th:action="@{/product/delete}" method="post">
				           	 <input type="hidden" name="proCode" th:value="${product.proCode}"/>
				           	 <button type="submit" class="proDelete">삭제</button>
			           </form>
					  	
					   
					 
					  
				    	
					</div> 

	<div th:replace="main/footer.html"></div>
</body>
</html>